/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #4F4B4B;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bebas Neue', cursive;
  color: #4E0505;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}
.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    max-width: 90%;
  }
}
body {
  background-color: #EDECEC;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar img {
  height: 8vh;
}
.navbar nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .navbar nav {
    width: 100%;
  }
}
.navbar nav a {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Bebas Neue', cursive;
  color: #605B5B;
  letter-spacing: 2px;
}
.navbar nav a:hover {
  -webkit-text-stroke: 1px #605B5B;
}
@media (max-width: 800px) {
  .navbar nav a {
    padding-bottom: 2%;
  }
}
.navbar nav #signIn {
  color: #4E0505;
}
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }
}
header .headerImg {
  width: 100%;
  height: 40vh;
  border-radius: 20px;
}
@media (max-width: 500px) {
  header .headerImg {
    display: none;
  }
}
header h1 {
  padding-top: 3%;
}
header p {
  padding-top: 1%;
}
.middleContent {
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1000px) {
  .middleContent {
    flex-direction: column;
  }
}
.middleContent .imgs {
  width: 30%;
}
@media (max-width: 800px) {
  .middleContent .imgs {
    margin: 0 auto;
    padding-bottom: 5%;
    width: 60%;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .middleContent .imgs {
    width: 100%;
  }
}
.middleContent .imgs img {
  width: 100%;
  border-radius: 20px;
}
.middleContent .imgs #dishes {
  padding-top: 5%;
}
@media (max-width: 1000px) {
  .middleContent .imgs #dishes {
    display: none;
  }
}
@media (max-width: 1000px) {
  .middleContent .imgs {
    width: 50%;
    display: flex;
  }
}
@media (max-width: 1000px) and (max-width: 500px) {
  .middleContent .imgs {
    width: 100%;
  }
}
.middleContent .howItWorks {
  width: 50%;
}
.middleContent .howItWorks h3 {
  text-align: center;
  margin-bottom: 3%;
  padding-top: 2%;
}
@media (max-width: 800px) {
  .middleContent .howItWorks h3 {
    margin-bottom: 1%;
  }
}
.middleContent .howItWorks p {
  padding-top: 2%;
}
@media (max-width: 1000px) {
  .middleContent .howItWorks {
    width: 100%;
  }
}
.lowerContent h3 {
  padding-top: 4%;
}
@media (max-width: 800px) {
  .lowerContent h3 {
    text-align: center;
  }
}
.lowerContent p {
  padding-top: 1%;
  padding-bottom: 2%;
}
.lowerContent a {
  text-decoration: none;
  color: #4F4B4B;
}
.lowerContent a .btn {
  border: 2px solid red;
  border-radius: 5px;
  background: #605B5B;
  color: #EDECEC;
  width: 13%;
  padding: 1% 2%;
  font-size: 2rem;
  margin: 0 auto;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  text-align: center;
}
.lowerContent a .btn:hover {
  background: #EC0000;
  color: black;
}
@media (max-width: 800px) {
  .lowerContent a .btn {
    width: 20%;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .lowerContent a .btn {
    width: 30%;
  }
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}
.team .member:first-child {
  margin-top: 5%;
}
.team .member:hover {
  background-color: #BEB8B8;
}
.team .member h3 {
  padding-top: 10%;
  text-align: center;
  padding-bottom: 2%;
}
.team .member img {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2%;
  border-radius: 20px;
}
.team .member h4 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2%;
}
.team .member a {
  text-align: center;
  padding-bottom: 10%;
  text-decoration: none;
  color: #4E0505;
  font-size: 1.5rem;
}
.team .member a:hover {
  color: white;
}
footer {
  background: #BEB8B8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 6%;
  padding: 2%;
}
footer p {
  text-align: center;
  font-size: 1.2rem;
}
form {
  padding-top: 5%;
  margin: 0 auto;
  width: 30%;
  height: 40vh;
}
form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 40vh;
}
form ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
form ul li label {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  color: #4E0505;
}
form ul li input {
  width: 100%;
  font-size: 2rem;
}
form ul li textarea {
  width: 100%;
  font-size: 2rem;
}
form ul li a {
  text-decoration: none;
  color: #4F4B4B;
  font-size: 1.8rem;
  background: #4E0505;
  color: #EDECEC;
  padding: 15%;
  border-radius: 5px;
}
form ul li a:hover {
  background: #4F4B4B;
}
@media (max-width: 500px) {
  form {
    width: 100%;
  }
}
