form {
    padding-top: 5%;
    margin: 0 auto;
    width: 30%;
    height: 40vh;
    
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        height: 40vh;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 5%;
            
            label {
                font-family: @heading-font;
                font-size: 2.5rem;
                color: @heading-color;
            }

            input {
                width: 100%;
                font-size: 2rem;
            }
            textarea {
                width: 100%;
                font-size: 2rem;
            }
            a {
                text-decoration: none;
                color: @main-font-color;
                font-size: 1.8rem;
                background: @heading-color;
                color: @bg-color;
                padding: 8%;
                border-radius: 5px;

                &:hover {
                    background: @main-font-color;
                }
            }
        }
    }
    @media @phone {
        width: 100%;
    }
}

