.middleContent {
    padding-top: 3%;
    .flexBox(space-around);
    align-items: center;

    @media @desktop {
        flex-direction: column;
    }


    .imgs {
        width: 30%;


        @media @tablet {
            margin: 0 auto;
            padding-bottom: 5%;
            width: 60%;
    
            @media @phone {
                width: 100%;
            }
        }


        img {
            width: 100%;
            border-radius: 20px;
            object-fit: contain;
        }

        #dishes {
            padding-top: 5%;

            @media @desktop {
                display: none;
            }
        }

        @media @desktop {
            width: 50%;
            display: flex;

            @media @phone {
                width: 100%;
            }
            
        }
    }

    .howItWorks {
        width: 50%;


        h3 {
            text-align: center;
            margin-bottom: 3%;
            padding-top: 2%;

            @media @tablet {
                margin-bottom: 1%;
            }
        }

        p {
            padding-top: 2%;

        }
        @media @desktop {
            width: 100%;
        }
    }

}
.lowerContent {

    h3 {
        padding-top: 4%;

        @media @tablet {
            text-align: center;
        }
    }
    p {
        padding-top: 1%;
        padding-bottom: 2%;
    }
    a {
        text-decoration: none;
        color: @main-font-color;

        .btn {
            .button();
            width: 13%;

            @media @tablet {
                width: 20%;

                @media @phone {
                    width: 30%;
                }
            }

        }
    }
    
}