.middleContent {
    padding-top: 3%;
    display: flex;
    justify-content: space-between;

    @media @tablet {
        flex-direction: column;
    }

    .blocksImg {
        width: 35%;

        @media @tablet {
            margin: 0 auto;
            padding-bottom: 5%;
            width: 60%;
        }

        img {
            width: 100%;
            border-radius: 20px;
        }
    }
    .howItWorks {
        width: 60%;

        @media @tablet {
            width: 100%;
        }

        h3 {
            text-align: center;
            margin-bottom: 3%;

            @media @tablet {
                margin-bottom: 1%;
            }
        }

        p {
            padding-top: 2%;
        }
    }
}

.lowerContent {

    h3 {
        padding-top: 4%;

        @media @tablet {
            text-align: center;
        }
    }
    p {
        padding-top: 1%;
        padding-bottom: 2%;
    }
    a {
        text-decoration: none;
        color: @main-font-color;

        .btn {
            border: 2px solid red;
            border-radius: 5px;
            background: @btn-color;
            color: @bg-color;
            width: 13%;
            padding: 1% 2%;
            font-size: 2rem;
            margin: 0 auto;
            font-family: @heading-font;
            letter-spacing: 2px;
            text-align: center;
            &:hover {
                background: @hover-color;
                color: black;
            }

            @media @tablet {
                width: 20%;
            }

        }
    }
    
}