.navbar {
  .flexBox(space-between);
  align-items: center;

    img {
      height: 8vh;
    }
    nav {
      width: 50%;
      .flexBox(space-around);

      @media @tablet {
          width: 100%;
      }

      a {
        text-decoration: none;
        font-size: 2.5rem;
        font-family: @heading-font;
        color: @btn-color;
        letter-spacing: 2px;
        &:hover {
            -webkit-text-stroke: 1px @btn-color;
        }

        @media @tablet {
          padding-bottom: 2%;
        }
      }
      #signIn {
        color: @heading-color;

        
      }
    }
    @media @tablet {
        flex-direction: column;
    }
}
